header img{
    width: 100%;
    height: 100px;
}
#fotop{
    height: 200px;
    width: 200px;
    margin: 20px;
}
footer{
    background-color: aqua;
    margin-bottom: 0;
    text-align: center;
}
.slist{
    margin-left: 100px;
}